* {
  font-family: "lato";
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: inherit;
}

.navbar {
  margin-bottom: 0;
  border: 0; 
}

.nav-pills>li>a {
  letter-spacing: 0.1em; color: aliceblue;
}

.btn:active, .btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-lg, .btn-group-lg>.btn {
  font-size: 35px; 
  border-radius: 6px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background-color: #1abc9c; 
  border-color: transparent;
}

.container.section.our-clients img {
    -webkit-filter: grayscale(100%);  -moz-filter: grayscale(100%);  filter: grayscale(100%);
}

.container.section.our-clients img:hover {
    -webkit-filter: grayscale(1%);  -moz-filter: grayscale(1%);  filter: grayscale(1%);
}

.lead {
    font-size: 28px;
}